header #utilitynavigatie          /**/                                      
{                                          
    display: inline-block;                                     
    min-width: 100px;                                          
    list-style-type: none;                                     
}

header #utilitynavigatie li        /**/                                       
{
    display: inline-block;                                     
    margin: 0 8px 0 0;                                         
    padding: 24px 10px 24px 0;                                 
}

header #utilitynavigatie a          /**/                                      
{
    font-size: 12px;                                           
    white-space: nowrap;                                       
    text-decoration: none;                                     
    color: #ffffff;                                            
}

header #utilitynavigatie a:hover      /**/                                    
{
    color: #ffffff;                                            
}

header #utilitynavigatie li:first-child a::before        /**/                 
{
    content: "_";                                              
    font-family: "pearnl", "sans-serif";                      
    font-size: 14px;                                           
    font-weight: 400;                                          
    margin-right: 5px;                                         
}

header #utilitynavigatie li:first-child a::after          /**/                
{
    content: "P";                                              
    font-family: "pearnl", "sans-serif";                      
    font-size: 10px;                                           
    font-weight: 400;                                          
    margin-left: 5px;                                          
}

header #utilitynavigatie li:last-child a::before          /**/                
{
    position: relative;                                        
    top: 1px;                                                  
    content: "E";                                              
    font-family: "pearnl", "sans-serif";                      
    font-size: 14px;                                           
    font-weight: 400;                                          
    margin-right: 5px;                                         
}

/* HOOFDNAVIGATIE */                                          

header #hoofdnavigatie                       /**/                            
{
    height: 59px;                                             
    background-color: rgb(249,148,6,255);                                  
}

header #hoofdmenu                              /**/                           
{
    list-style-type: none;                                     
    height: 59px;                                              
}

header #hoofdmenu li                            /**/                          
{
    display: inline-block;                                     
    vertical-align: top;                                       
}

header #hoofdmenu a                                            
{
    font-family: "museo700", "Verdana", "sans-serif";          
    font-size: 20px;                                           
    display: inline-block;                                     
    text-decoration: none;                                     
    padding: 8px 15px 14px;                                    
    margin: 9px 0 0 0;                                         
    color: #ffffff;                                            
}

header #hoofdmenu a:hover                                      
{
    background-color: rgb(249,148,6,255);                               
    color: #ffffff;                                            
}

header #hoofdmenu a.teken                                      
{
    font-family: "pearnl", "sans-serif";                      
    padding: 6px 4px 16px 0;                                   
}

header #hoofdmenu a.teken:hover                                
{
    background-color: transparent;                             
    color: #ffffff;                                            
}

footer #inhoudsopgave                                       
{
    height: 673px;                                            
    background-color: #262727;                              
}

footer #inhoudsopgave article                                 
{
    float: left;                                               
    width: 25%;                                              
    padding: 0 1%;                                            
    margin: 30px 0;                                          
}

footer #inhoudsopgave article .inhoud_kop                    
{
    color: #ffffff;                                          
    font-size: 16px;                                        
    line-height: 110%;                                       
    font-family: "museo700", "Verdana", "sans-serif";          
    margin: 0 0 6px 0;                                        
    font-weight: normal;                                    
    word-wrap: break-word;                                    
}

footer #inhoudsopgave article .inhoud_subkop                 
{
    font-size: 11px;                                         
    line-height: 17px;                                       
    font-family: "Verdana", "sans-serif";                      
    font-weight: 700;                                         
    color: #969A9E;                                          
    margin: .53em 0;                                          
}

footer #inhoudsopgave article li                             
{
    font-size: 11px;                                            
    list-style-type: none;                                   
}

footer #inhoudsopgave article a                              
{
    font-size: 11px;                                          
    font-family: "Verdana", "sans-serif";                     
    color: #969A9E;                                          
    text-decoration: none;                                   
}

footer #inhoudsopgave article a:hover                        
{
    color: #ffffff;                                           
}

footer #inhoudsopgave article .inhoud_ruimte                    
{
    height: 20px;                                            
}

footer #inhoudsopgave article .inhoud_ruimte_groot            
{
    height: 30px;                                              
}