                                            
header #diensten           /*de achtergrond van het logo en de tabel*/                                   
{
    padding-left: 120px;
    height: 100px;                                             
    background-color: rgb(0,16,42,255);                                   
    border-bottom: 2px solid rgb(0,16,42,255);    
}

#logo{   
    position: relative;      /*het logo*/
    top: 20px;
    width: 149px;
    height: 55px;
    color: rgb(0,16,42,255);        
}
header #sitenavigatie        /*de tabel zelf naast het logo*/                                  
{                                           
    display: inline-block;                                                                               
    list-style-type: none;                                     
    padding: 22px;        
    font-size: 20px;       
}

header #sitenavigatie li       /*ook de tabel zelf naast het logo*/                               
{
    margin-left: 70px;   
    display: inline-block;           
    margin-right: 10px;       
                                                                                                                              
}

header #sitenavigatie a          /*de tekst in de tabel*/                                 
{                                
    text-decoration: none;                                   
    color: #ffffff;                                          
    white-space: nowrap;                                                           
}

header #sitenavigatie a:hover     /*als je over een van de labels in de tabel gaat*/                           
{
    color: rgba(249,148,6,255);
    border-bottom-width: 2px;
    border-bottom-style: solid;    
}

header #sitenavigatie a.actief    /**/                     
{
    color: #ffffff;                                          
    font-weight: 700;             
                               
}
main #sectie1                                                 
{
    padding-left: 90px;
    height: 440px;                                             
    background-image: url("img/kaart.png");                       
    background-size: cover;                                  
    background-position: center center;                        
    background-repeat: no-repeat no-repeat;
    background-color: #424242;                  
}

main #sectie1 section                                      
{
    height: 100%;                                            
}

main #sectie1 div                                            
{
    width: 50%;                                            
}

main #sectie1 h1                                            
{
    font-size: 40px;                                           
    line-height: 120%;                                        
    font-family: "museo900", "Verdana", "sans-serif";        
    margin: 0 0 16px 0;                                      
    color: #FFF;                                           
    padding-top: 164px;                                       
    font-weight: normal;                                      
}

main #sectie1 h3                                            
{
    font-size: 22px;                                           
    line-height: 120%;                                         
    font-family: "museo700", "Verdana", "sans-serif";        
    margin: 0 0 5px 0;                                       
    color: rgba(0,98,195,255);                                             
    font-weight: normal;                                       
}

main #sectie1 a                                               
{
    margin: 20px 0 4px;                                      
    background-color: rgb(0,16,42,255);                                   
    border-radius: 4px;                                        
    box-shadow: 0 2px 1px #969A9E;                           
    color: #FFF;                                             
    border-width: 1px 1px 0;                                   
    border-style: solid none;                         
    border-color: rgb(0,16,42,255);                                    
    font-size: 20px;                                        
    height: 45px;                                          
    line-height: 42px;                                        
    padding: 0 20px;                                       
    cursor: pointer;                                         
    position: relative;                                     
    display: inline-block;                                   
    font-family: "museo700", "Verdana", "sans-serif";        
    text-align: center;                                      
    text-decoration: none;                                      
}

main #sectie1 a:hover                                        
{
    background-color: rgba(249,148,6,255);     
    border-color:     rgba(249,148,6,255);             
}

main #sectie2                                                
{
    padding-left: 80px;
    height: 422px;                                         
    background-color: rgba(0,98,195,255);       
    color: #FFF;                                 
}

main #sectie2 section                                          
{
    height: 100%;                                           
}

main #sectie2 article                                        
{
    width: 33.3%;                                            
    padding: 0 1%;                                            
    margin: 70px 0;                                           
    float: left;                                            
}

main #sectie2 article > div                                  
{
    width: 100%;                                                                                     
}

main #sectie2 article img                                     
{
    width: 100%;                                              
    height: 110px;                                                                          
}

main #sectie2 article .blok                                     
{
    padding: 10px 20px;                                         
}

main #sectie2 article .blok h3                                  
{
    font-size: 22px;                                            
    line-height: 120%;                                          
    font-family: "museo700", "Verdana", "sans-serif";           
    font-weight: normal;                                                                              
}

main #sectie2 article .blok a                                  
{
    color: #fffefe;                                 
    font-size: 14px;                                                                                
    text-decoration: none;                                     
    font-weight: 700;                                          
    line-height: center;                                       
}

main #sectie2 article .blok a::before                          
{
    position: center;                                        
    top: 6px;                                                                                                 
    width: 0;                                                                                                
    font-family: "pearnl", "sans-serif";                      
    font-size: 7px;                                                                                 
    float: left;                                               
}
@font-face                                                    
{
    font-family: "museo700";                               
    src: url(../fonts/museosans_700-webfont.woff2);        
}

@font-face                                                   
{
    font-family: "museo900";                                 
    src: url(../fonts/museosans_900-webfont.woff2);          
}
*                                                           
{
    margin: 0;                                             
    padding: 0;                                            
    box-sizing: border-box;                                 
}

body                                                         
{
    background-color: rgba(0,98,195,255);                               
    font-family: Verdana, sans-serif;                       
    font-size: 14px;                                        
    line-height: 1.42857;                                   
    color: #262727;                                         
}

.rij                                                         
{     
    padding-top: 10px;         
    padding-right: 70px;                                               
    max-width: 1240px;                                 
    width: 100%;                                         
}
.card button:hover {
    opacity: 0.7;
}
.column {
    background-color:rgb(0,157,254,255);
    float: left;
    width: 25%;
    padding: 10px;
    height: 500px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: 50px;
    text-align: center;
    font-family: arial;
    width:100%"
}

.price {
    color: rgb(0, 0, 0);
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.rij_correctie
{
    width: 110%;
}
#tentoonstelling1{
    height: 100px;
}
#tentoonstelling2{
    
}