                                            
header #diensten           /*de achtergrond van het logo en de tabel*/                                   
{
    padding-left: 120px;
    height: 100px;                                             
    background-color: rgb(0,16,42,255);                                   
}

#logo{   
    position: relative;      /*het logo*/
    top: 20px;
    width: 149px;
    height: 55px;
    color: rgb(0,16,42,255);        
}
header #sitenavigatie        /*de tabel zelf naast het logo*/                                  
{                                           
    display: inline-block;                                                                               
    list-style-type: none;                                     
    padding: 22px;        
    font-size: 20px;       
}

header #sitenavigatie li       /*ook de tabel zelf naast het logo*/                               
{
    margin-left: 70px;   
    display: inline-block;           
    margin-right: 10px;                                                                                                              
}

header #sitenavigatie a          /*de tekst in de tabel*/                                 
{                                
    text-decoration: none;                                   
    color: #ffffff;                                          
    white-space: nowrap;                                                           
}

header #sitenavigatie a:hover     /*als je over een van de labels in de tabel gaat*/                           
{
    color: rgba(249,148,6,255);
    border-bottom-width: 2px;
    border-bottom-style: solid;    
}
main #sectie1             /*  de achtergrond  van sectie1*/                                    
{
    padding-left: 90px;
    height: 440px;                                             
    background-image: url("img/kaart.png");                       
    background-size: cover;                                  
    background-position: center center;                        
    background-repeat: no-repeat no-repeat;
    background-color: #424242;                  
}

main #sectie1 h1       /*de titel van het museum */                                     
{
    font-size: 100px;                                           
    line-height: 120%;                                        
    font-family: "museo900", "Verdana", "sans-serif";        
    margin: 0 0 16px 0;                                      
    color: #FFF;                                                                                 
    font-weight: 600;           
    font-style: bold;                           
}
main #sectie2 article                                        
{
    width: 33.3%;                                            
    padding: 0 1%;                                            
    margin: 70px 0;                                           
    float: left;                                            
}
*                                                           
{
    margin: 0;                                             
    padding: 0;                                            
    box-sizing: border-box;                                 
}
body                                                         
{
    background-color: rgba(0,98,195,255);                               
    font-family: Verdana, sans-serif;                       
    font-size: 14px;                                        
    line-height: 1.42857;                                   
    color: #262727;                                         
}