main #sectie1 a              /*de knop koop hier */                    
{
    margin: 20px 0 4px;                                      
    background-color: rgb(0,16,42,255);                                   
    border-radius: 4px;                                        
    box-shadow: 0 2px 1px #969A9E;                           
    color: #FFF;                                             
    border-width: 1px 1px 0;                                   
    border-style: solid none;                         
    border-color: rgb(0,16,42,255);                                    
    font-size: 50px;                                                                              
    padding: 0 20px;                                 
    cursor: pointer;                                         
    position: relative;                                     
    display: inline-block;                                   
    font-family: "museo700", "Verdana", "sans-serif";        
    text-align: center;                                      
    text-decoration: none;                                      
}

main #sectie1 a:hover       /*als je over de knop hovered */                             
{
    background-color: rgba(249,148,6,255);     
    border-color:     rgba(249,148,6,255);             
}
